<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664165849347-spmjpsrd250j218eu40h1j26lv440cid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664165849347-spmjpsrd250j218eu40h1j26lv440cid</string>
	<key>API_KEY</key>
	<string>AIzaSyButf95gV7_Y1Gm2oMzbVFMwUtuSuutp9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>664165849347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.com.flutergram.app</string>
	<key>PROJECT_ID</key>
	<string>fluttergram-a8c36</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergram-a8c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664165849347:ios:e43803ab7280a3b6827136</string>
</dict>
</plist>